<p id="notice"><%= notice %></p>

<h1>通知</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>内容</th>
      <th>日時</th>
      <th>医師</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pushes.each do |push| %>
      <tr>
        <td><%= push.title %></td>
        <td><%= push.when %></td>
        <td><%= push.doctor_id %></td>
        <td><%= link_to 'Show', push %></td>
        <td><%= link_to 'Edit', edit_push_path(push) %></td>
        <td><%= link_to '確認', push, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

