<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @push.title %>
</p>

<p>
  <strong>When:</strong>
  <%= @push.when %>
</p>

<p>
  <strong>User:</strong>
  <%= @push.user_id %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @push.doctor_id %>
</p>

<%= link_to 'Edit', edit_push_path(@push) %> |
<%= link_to 'Back', pushes_path %>
