<%= stylesheet_link_tag "home", :media => "all" %>

<div class="main_left">
  <div class="exp">
    <h3>かかりつけ医はいますか？</h3>
    自分の健康を専属で見てくれる医師はいますか？</br>
    あなたの症状や働く場所、お住まいによって、最も適切な医師を紹介します。
  </div>
  <div class="chat">
    <h3>気になる症状をどうしてますか</h3></br>
    かかりつけ医を見つけたら、チャットによる相談ができます。「病院に行くほどではないが、気になる症状」がある時なども、聞くことができます。
  </div>
  <div class="sumup">
    <h3>医療情報を簡単にまとめます</h3></br>
    あなたの情報を医師との会話も含めて全て綺麗にまとめます。その情報を用いて、別の病院や医師に簡単に自分のことを説明できます。
  </div>
  <%= link_to 'こちらからアカウント作成', signup_path, class:"btn btn-primary"%>
</div>

<div class="main_right">
  <div class="login">
  <div class="alert alert-success" role="alert">
  ユーザーログイン
  </div>
  <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field :email ,class:"form-control",placeholder:"名前"%><br>
      <%= f.password_field :password,class:"form-control",placeholder:"5ケタ番号" %><br>
    <%= f.submit 'ログインする' %>
  <% end %>
</div>

  <div class="d_login">
  <div class="alert alert-info" role="alert">
  医師ログイン
  </div>
  <%= form_for(:dsession, url: d_sessions_path) do |f| %>
    <%= f.text_field :email ,class:"form-control",placeholder:"メールアドレス" %>
    <%= f.password_field :password ,class:"form-control",placeholder:"メールアドレス" %>
    <%= f.submit 'ログインする' %>
  <% end %>
  </div>
</div>
