<%= stylesheet_link_tag "home", :media => "all" %>

<div class="exp">
  不幸にも外出先でお一人で倒れた場合に、あなたの緊急連絡先やお体に関する情報をお預かりします。
　その情報をもとに、医師が検索します。<br>
 <%= image_tag '/images/home_explain.png' %>
 <%= link_to 'アカウント作成', signup_path, class:"btn btn-default navbar-btn navbar-right"%>
</div>

<div class="login">
  <div class="alert alert-success" role="alert">
  ユーザーログイン
  </div>
  <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field :email ,class:"form-control",placeholder:"名前"%><br>
      <%= f.password_field :password,class:"form-control",placeholder:"5ケタ番号" %><br>
    <%= f.submit 'ログインする' %>
  <% end %>
</div>

<div class="d_login">
  <div class="alert alert-info" role="alert">
  医師ログイン
  </div>
  <%= form_for(:dsession, url: d_sessions_path) do |f| %>
    <%= f.text_field :email ,class:"form-control",placeholder:"メールアドレス" %>
    <%= f.password_field :password ,class:"form-control",placeholder:"メールアドレス" %>
    <%= f.submit 'ログインする' %>
<% end %>

