<style type="text/css">
    .form {
        width:800px;
        float: left;
        margin-left: 30px;
    }
</style>

<div class="form">
<h3>アカウント編集</h3>
<%= form_for(@user) do |f| %>
   <%= f.label :name, 'お名前'%>
      <%= f.text_field :name ,class:"form-control",placeholder:"苗字だけやハンドルネームも可" %></br>

      <%= f.label :sex, '男性' %>
      <%= f.check_box :sex, { :checked => false }, 3, 0 %>

      <%= f.label :sex, '女性' %>
      <%= f.check_box :sex, { :checked => false }, 1, 0 %></br></br>

      <%= f.label :age, 'ご年齢' %>
      <%= f.number_field :age ,class:"form-control" %></br>

      <%= f.label :emergence, '緊急連絡先(必ずしも必要ではありません)' %>
      <%= f.text_field :emergence ,class:"form-control",placeholder:"母や息子などの電話番号" %></br>

      <%= f.label :adress, '希望する地域や場所' %>
      <%= f.text_field :adress ,class:"form-control",placeholder:"最寄駅やお住いの場所など" %></br>

      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password ,class:"form-control",placeholder:"健康保険証や運転免許証の下5ケタで" %></br>

      <%= f.label :password_confirmation, '確認' %>
      <%= f.password_field :password_confirmation ,class:"form-control",placeholder:"もう一度パスワードの確認" %></br>

      <%= f.label :email, 'メールアドレス(必ずしも必要ではありません)' %>
      <%= f.text_field :email ,class:"form-control",placeholder:"運営からのサービスに関する連絡のみでしか使用しません" %></br>
     
       <%= f.submit :アカウントを編集する, class: "btn btn-default btn-md"%>
<% end %>
</div>
