<%= stylesheet_link_tag "user_index", :media => "all" %>
<%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>

<%= form_tag users_path, :method => 'get' do %> 
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag :Search, :name => nil, class: "btn btn-default btn-md" %>
  </p>
<% end %>

<ul class="list-group">
  <% @users.each do |user| %>
  <li class="list-group-item"><%= link_to user.name, user %></li>
  <% end %>
</ul>

<%= render 'shared/result' %>
<%= render 'shared/d3_result' %>
<%= render 'shared/d3_parallel_result' %>
