<%= stylesheet_link_tag "user_home", :media => "all" %>

<div class="main">
  <% if not @user.pushs.length == 0 %>
    <% @notification = "#{@user.pushs.length}件の通知" %>
    <% @url_push = "/users/#{@user.id}/pushes"%>
  <% end %>
  <h3>緊急連絡先: <%= @user.emergence %></h3>
  <h3>名前: <%= @user.name %></h3>
  <h3>希望所在地: <%= @user.name %></h3>
  <% if current_user?(@user) %>
    <p><%= link_to 'ユーザー情報の編集', edit_user_path, class: "btn btn-default btn-sm"%></p>
  <% end %>
</div>


<div class="fav">
  <% if current_user?(@user) %>
      <%= link_to "医師検索", { :controller => :doctors, :action => :index }, :class=>"btn btn-info" %> /
      <%= link_to "推薦医師", { :controller => :users, :action => :recommendation, :id => @user.id }, :class=>"btn btn-success" %> /
      <% @url_sum = "/users/#{@user.id}/summaries"%>
      <%= link_to "まとめ", "#{@url_sum}", :class=>"btn btn-warning" %>/
      <% @url_screen = "/users/#{@user.id}/screenings"%>
      <%= link_to "検査一覧", "#{@url_screen}", :class=>"btn btn-primary" %> 
  <% end %>
  <% if signed_in_doctor? %>
      <%= link_to "類似患者の検索", { :controller => :doctors, :action => :find_similar }, :class=>"btn btn-info" %> 
  <% end %>
  <h3>担当医</h3>
    <% @user.doctors.each do |ud| %>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><%= link_to ud.name, ud %></li>
      </ul>
    <% end %>
</div>

<div class="ample">
  <h4> 患者基本情報</h4>
  <% @user.questions.each do |question| %>
    <table class="table table-striped table-bordered">
      <tr>
        <td align="center"> 既往歴 </td>
        <td align="center"><%= question.past %></td>
      </tr>
      <tr>
        <td align="center"> 家族歴 </td>
        <td align="center"><%= question.family %></td>
      </tr>
      <tr>
        <td align="center"> アレルギー </td>
        <td align="center"><%= question.alle %></td>
      </tr>
      <tr>
        <td align="center"> 今飲んでるお薬 </td>
        <td align="center"><%= question.pharm %></td>
      </tr>
      <tr>
        <td align="center"> 生活について </td>
        <td align="center"><%= question.life %></td>
      </tr>
       <% @question_user = question.user_id
       @question_id = question.id
       @url = "/users/#{question.user_id}/questions/#{question.id}/edit"%>
    </table>
    <%= link_to '登録情報の編集',  "#{@url}" , class: "btn btn-default btn-sm" %><br>
  <% end %>

  <% if not signed_in_doctor? %> 
   <% if @user.questions.length == 0 %>
    <%= form_for([@user, @user.questions.build]) do |f| %>
    <p>
      <%= f.label :既往歴 %><br>
      <%= f.text_area :past ,class:"form-control",placeholder:"結核,胃がん" %>
    </p>
    <p>
      <%= f.label :家族歴 %><br>
      <%= f.text_area :family ,class:"form-control",placeholder:"父が胃がん、母が乳ガンなど"%>
    </p>
    <p>
      <%= f.label :アレルギー %><br>
      <%= f.text_area :alle ,class:"form-control",placeholder:"花粉、風邪薬"%>
    </p>
    <p>
      <%= f.label :今飲んでるお薬 %><br>
      <%= f.text_area :pharm ,class:"form-control",placeholder:"胃薬、血をサラサラにする薬など"%>
    </p>
    <p>
      <%= f.label :生活について%><br>
      <%= f.text_area :life ,class:"form-control",placeholder:"喫煙10本/日,ビール1缶/日、一人暮らしなど" %>
    </p>
    <p>
      <%= f.submit :登録, class: "btn btn-default btn-md"  %>
    </p>
    <% end %>
   <% end %>
  <% end %>
</div>
<div class="bar">
</div>

<div class="notes">
  <p>
  <%= form_for([@user, @user.notes.build]) do |f| %>
    <%= f.text_area :note ,class:"form-control",placeholder:"ご気分はどうですか" %>

    <% if signed_in_doctor? %>
       <%= f.hidden_field :flag, :value => 2 %>
       <div class="f_check">
         もし患者に非表示にするには、</br>チェックを入れてください
         <%= f.check_box :flag, { :checked=>false }, 4, 2 %>
       </div>
    <% else %>
       <%= f.hidden_field :flag, :value => 1 %>
    <% end %>
    <div class="f_button">
      <%= f.submit :書く, class: "btn btn-default btn-md"  %>
    </div>
  <% end %>
  </p>

  <div class="talk">
  <% @user.notes.each do |note| %>
      <% if note.flag == 2  then %>
        <div class="doctor">
           <p class="bg-info">
           <span class="label label-primary">Doctor</span>
            <%= note.note %>
           </p>
        </div>
      <% elsif note.flag == 3 then %>
        <div class="doctor">
           <p class="bg-info">
           <span class="label label-danger">Doctor Q</span>
            <%= note.note %>
           </p>
        </div>
      <% elsif note.flag == 4 then %>
         <% if signed_in_doctor? %>
         <div class="doctor">
           <p class="bg-info">
           <span class="label label-primary">Doctor Q</span>
            <%= note.note %>
           </p>
         </div>
         <% end %>
      <% else %>
        <div class="patient">
           <p class="bg-info">
           <%= note.note %> 
           </p>
        </div>
      <% end %>
  <% end %>
  </div>
</div>

<div class="alert">
<% if signed_in_doctor? %>
  <h4>アラートの作成</h4>
  <%= form_for([@user, @user.alerts.build]) do |f| %>
  <p>
    <%= f.text_area :title ,class:"form-control", placeholder:"その時確認したいこと" %>
  </p>
  <p>
    <%= f.text_area :context ,class:"form-control", placeholder:"内容,例えば再びかゆみが出たら、来てくださいなど" %>
  </p>
  <p>
    <%= f.label :通知日 %><br>
    <%= f.datetime_field :when  %>
  </p>
  <p>
    <%= f.hidden_field :doctor_id, :value => current_doctor.id %>
    <%= f.label :検査項目 %><br>
    <%= f.collection_select :screen_id, ScreenType.all, :id, :title, include_blank: true %>
  </p>
    <%= f.submit :作成, class: "btn btn-default btn-sm" %>
  <% end %>
  <% end %>

</br>
<h4>現在のアラート</h4>
<% @user.alerts.each do |ud| %>
 <ul class="list-group">
  <li class="list-group-item list-group-item-success">
    <% if ud.doctor_id %>
      <% @doc = Doctor.find(ud.doctor_id) %>
      <%= ud.when %>まで from <%= @doc.name %>
    <% else %>
      <%= ud.when %> まで
    <% end %>
    </br>
    <%= ud.title %></br>
    <%= ud.context %></br>
    <% if ud.screen_id %>
      <% @url_screen = "/screen_types/#{ud.screen_id}"%>
      <%= link_to "検査", "#{@url_screen}"  %>
    <% end %>
  </li>
 </ul>
<% end %>

</div>




