<h1>ユーザ情報</h1>

<table border="1">
  <tr>
    <th>緊急連絡先</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>名前</th>
    <td><%= @user.email %></td>
  </tr>
</table>


<%= form_for([@user, @user.notes.build]) do |f| %>
  <p>
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



<%= form_for([@user, @user.questions.build]) do |f| %>
  <p>
    <%= f.label :question %><br>
    <%= f.text_area :life %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<% @user.questions.each do |question| %>
  <div  class="container">
    <table class="table table-striped table-bordered">
      <tr>
        <td>
            <%= question.life %>
        </td>
      </tr>
    </table>
  </div>

<% end %>



<% @user.notes.each do |note| %>
  <div  class="container">
    <table class="table table-striped table-bordered">
      <tr>
        <td>
    	    <%= note.note %>
        </td>
        <td>
            <%= note.created_at %>
        </td>
      </tr>
    </table>
  </div>

<% end %>





<% if current_user?(@user) %>
<p><%= link_to 'ユーザー情報の編集', edit_user_path %></p>
<% end %>
