<%= stylesheet_link_tag "user_home", :media => "all" %>
<script type="text/javascript">
  window.onload = function(){
    $(".talk").scrollTop($(".talk")[0].scrollHeight);
  }
</script>


<ul class="nav nav-tabs">
  <li class="active"><a href="#tab1" data-toggle="tab">Chat</a></li>
  <li><a href="#tab3" data-toggle="tab">Summary</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="tab1">
    <div class="notes">
      <div class="talk">
      <% @user.notes.each do |note| %>
        <% if note.flag == 2  then %>
          <div class="doctor">
             <p class="bg-info">
             <span class="label label-primary">Doctor</span>
               - <%= note.note %>
             </p>
          </div>
        <% elsif note.flag == 3 then %>
          <div class="doctor">
             <p class="bg-info">
             <span class="label label-danger">Doctor Q</span>
               - <%= note.note %>
             </p>
          </div>
        <% elsif note.flag == 4 then %>
           <% if signed_in_doctor? %>
           <div class="doctor">
             <p class="bg-info">
               <span class="label label-primary">Doctor Q</span>
               - <%= note.note %>
             </p>
           </div>
           <% end %>
        <% elsif note.flag == 1 then %>
          <div class="patient">
             <p class="bg-info">
               <%= note.note %> - <span class="label label-success">You</span> 
             </p>
          </div>
        <% end %>
      <% end %>
      </div>
      <p>
      <%= form_for([@user, @user.notes.build]) do |f| %>
      <%= f.text_area :note ,class:"form-control",placeholder:"ご気分はどうですか" %>

      <% if signed_in_doctor? %>
        <%= f.hidden_field :flag, :value => 2 %>
        <div class="f_check">
          もし患者に非表示にするには、</br>チェックを入れてください
          <%= f.check_box :flag, { :checked=>false }, 4, 2 %>
        </div>
      <% else %>
        <%= f.hidden_field :flag, :value => 1 %>
      <% end %>
      <div class="f_button">
        <%= f.submit :書く, class: "btn btn-default btn-md"  %>
      </div>
      <% end %>
      </p>
    </div>
  </div>

  <div class="tab-pane" id="tab3">
    <%= render 'shared/user_summary' %> 
  </div>
</div>



