<%= stylesheet_link_tag "user_home", :media => "all" %>

<div class="main">
      <h2>緊急連絡先:
      <%= @user.name %></h2>
      <h2>名前:
      <%= @user.email %></h2>
</div>

<div class="ample">
  <% @user.questions.each do |question| %>
    <table class="table table-striped table-bordered">
      <tr>
        <td>
            <%= question.life %>
        </td>
      </tr>
    </table>
  <% end %>

  <%= form_for([@user, @user.questions.build]) do |f| %>
  <p>
    <%= f.label :既往歴 %><br>
    <%= f.text_area :past ,class:"form-control",placeholder:"結核,胃がん" %>
  </p>
  <p>
    <%= f.label :家族歴 %><br>
    <%= f.text_area :life ,class:"form-control",placeholder:"父が胃がん、母が乳ガンなど"%>
  </p>
  <p>
    <%= f.label :アレルギー %><br>
    <%= f.text_area :life ,class:"form-control",placeholder:"花粉、風邪薬"%>
  </p>
  <p>
    <%= f.label :今飲んでるお薬 %><br>
    <%= f.text_area :life ,class:"form-control",placeholder:"胃薬、血をサラサラにする薬など"%>
  </p>
  <p>
    <%= f.label :生活について%><br>
    <%= f.text_area :life ,class:"form-control",placeholder:"喫煙10本/日,ビール1缶/日、一人暮らしなど" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>


</div>

<div class="notes">
  <%= form_for([@user, @user.notes.build]) do |f| %>
  <p>
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <% end %>


  <% @user.notes.each do |note| %>
    <table class="table table-striped table-bordered">
      <tr>
        <td>
    	    <%= note.note %>
        </td>
        <td>
            <%= note.created_at %>
        </td>
      </tr>
    </table>
  <% end %>

</div>



<% if current_user?(@user) %>
<p><%= link_to 'ユーザー情報の編集', edit_user_path, class: "btn btn-lg btn-primary"%></p>
<% end %>
