<%= stylesheet_link_tag "summary_home", :media => "all" %>
 <% @user = User.find(params[:id]) %>
<div class="main">
  <% if not @user.pushs.length == 0 %>
    <% @notification = "#{@user.pushs.length}件の通知" %>
    <% @url_push = "/users/#{@user.id}/pushes"%>
  <% end %>
  <h3>緊急連絡先: <%= @user.emergence %></h3>
  <h3>名前: <%= @user.name %></h3>
  <% if @user.sex == 0 %>
    <h4> 性別: 男 </h4>
  <% elsif @user.sex == 1 %>
    <h4> 性別: 女 </h4>
  <% end %>
   <h4> 年齢: <%= @user.age %> </h4>
  <% if current_user?(@user) %>
    <% @url_edit = "/users/#{@user.id}/edit"%>
    <p><%= link_to 'ユーザー情報の編集', @url_edit , class: "btn btn-default btn-sm"%></p>
  <% end %>
</div>

<div class="ample">
  <% @user.questions.each do |question| %>
    <table class="table table-striped table-bordered">
      <tr>
        <td align="center"> 既往歴 </td>
        <td align="center"><%= question.past %></td>
      </tr>
      <tr>
        <td align="center"> 家族歴 </td>
        <td align="center"><%= question.family %></td>
      </tr>
      <tr>
        <td align="center"> アレルギー </td>
        <td align="center"><%= question.alle %></td>
      </tr>
      <tr>
        <td align="center"> 今飲んでるお薬 </td>
        <td align="center"><%= question.pharm %></td>
      </tr>
      <tr>
        <td align="center"> 生活について </td>
        <td align="center"><%= question.life %></td>
      </tr>
       <% @question_user = question.user_id
       @question_id = question.id
       @url = "/users/#{question.user_id}/questions/#{question.id}/edit"%>
    </table>
    <%= link_to '登録情報の編集',  "#{@url}" , class: "btn btn-default btn-sm" %><br>
  <% end %>

  <% if not signed_in_doctor? %> 
   <% if @user.questions.length == 0 %>
    <%= form_for([@user, @user.questions.build]) do |f| %>
    <p>
      <%= f.label :既往歴 %><br>
      <%= f.text_area :past ,class:"form-control",placeholder:"結核,胃がん" %>
    </p>
    <p>
      <%= f.label :家族歴 %><br>
      <%= f.text_area :family ,class:"form-control",placeholder:"父が胃がん、母が乳ガンなど"%>
    </p>
    <p>
      <%= f.label :アレルギー %><br>
      <%= f.text_area :alle ,class:"form-control",placeholder:"花粉、風邪薬"%>
    </p>
    <p>
      <%= f.label :今飲んでるお薬 %><br>
      <%= f.text_area :pharm ,class:"form-control",placeholder:"胃薬、血をサラサラにする薬など"%>
    </p>
    <p>
      <%= f.label :生活について%><br>
      <%= f.text_area :life ,class:"form-control",placeholder:"喫煙10本/日,ビール1缶/日、一人暮らしなど" %>
    </p>
    <p>
      <%= f.submit :登録, class: "btn btn-default btn-md"  %>
    </p>
    <% end %>
   <% end %>
  <% end %>
</div>

<div class="bar">
 <ul class="list-group">
   <% for un in @user.notes %>
     <% require 'if_medic'
        tmp = medic?(un.note)
     %>
     <% if tmp == 1 %>
       <li class="list-group-item"> <span class="badge"><%= un.created_at.strftime("%Y年%m月%d日") %></span> <%= un.note %> </li>
     <%  end %>
   <%  end %>
 </ul>
</div>
