<style type="text/css">
    .form {
        width:800px;
        float: left;
        margin-left: 30px;
    }
</style>

<div class="form">

<h3>アカウント編集</h3>
<%= form_for(@doctor) do |f| %>
      <%= f.label :name, '名前' %>
      <%= f.text_field :name ,class:"form-control" %>
    
      <%= f.label :email, 'メールアドレス' %>
      <%= f.text_field :email,class:"form-control" %>

      <%= f.label :password, 'パスワード'%>
      <%= f.password_field :password ,class:"form-control" %>

      <%= f.label :password_confirmation, '確認' %>
      <%= f.password_field :password_confirmation ,class:"form-control" %>

      <%= f.label :adress, '所在地' %>
      <%= f.text_field :adress ,class:"form-control"%>

      <%= f.label :speciality, '専門' %>
      <%= f.text_field :speciality ,class:"form-control" %>

      </br>
      <%= f.submit :アカウントを編集する, class: "btn btn-default btn-md"  %>
<% end %>
</div>
