<%= stylesheet_link_tag "doctor_signup", :media => "all" %>
<h3>医師アカウント作成</h3>
<div class="main">
  <div class="exp">
   <h3>地域の医療という大きな仕事に挑戦して見ませんか？</h3>
    病院に来る患者さんは気になる症状があるから来院します。しかし「腰が少し痛い」という程度では来ない患者さんも多いです。</br>
このように貴院の周りでは来院していない患者さんもいます。このサービスは、医師とそのような患者さんを結びつけるものです。
</br>病院に来ていない患者さんも含め、地域の医療に貢献していただけませんか。
</br>在宅医療を推進されたい医師の皆様にもオススメのサービスです。
  </div>
  <div class="chat">
    <h3>フォローアップを追うことができます</h3>
</br>一度治療をされたり薬を出しても、患者さんがその結果、「良くなったから来ない」のか「症状が以前として悪いが気にならない」か。我々、医師は知ることができません。</br>このサービスでは、「1週間後に、患者の症状を訪ねる」というアラートを設定することで、そのような患者さんを、自動でフォローアップできます。</br> その結果、患者を貴院に定着させることができます。

  </div>
  <div class="sumup">
    <h3>患者情報を家族や他職種と連携して共有できます</h3>
</br>患者さんの情報を見ることができるのは、病院のパソコンからだけでは不便です。</br>
患者さんの情報は、患者さんのものであり、患者さん、家族、医師、医療従事者が一緒に作っていくものです。
    <h3>登録後の流れ</h3>
登録されますと、患者さんが自動でマッチングされますので、お待ちください。
  </div>

  <div class="register">
  <%= form_for(@doctor) do |f| %>
      <%= f.label :name, 'お名前' %>
      <%= f.text_field :name  ,class:"form-control",placeholder:"お名前" %>

      <%= f.label :email, 'メールアドレス' %>
      <%= f.text_field :email ,class:"form-control",placeholder:"運営からサービスに関する連絡の為だけに使用します" %>

      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password ,class:"form-control",placeholder:"ログインのためのパスワード" %>

      <%= f.label :password_confirmation, '確認' %>
      <%= f.password_field :password_confirmation ,class:"form-control",placeholder:"もう一度同じパスワードを" %>

      <%= f.label :adress, '所在地' %>
      <%= f.text_field :adress ,class:"form-control",placeholder:"貴院の所在地" %>

      <%= f.label :speciality, '専門' %>
      <%= f.text_field :speciality ,class:"form-control",placeholder:"ご専門や、貴院の特徴" %>

      <div class="f_button">
      <%= f.submit :医師アカウントを作成する, class: "btn btn-default btn-md" %>
      </div>
  <% end %>
  </div>
</div>
