<%= stylesheet_link_tag "doctor_home", :media => "all" %>

<div class="main">
    <h2>名前
    <%= @doctor.name %></h2>
    <% if current_doctor=(@doctor) %>
      <p><%= link_to '編集', edit_doctor_path, class: "btn btn-primary btn-md" %></p>
    <% end %>

    <% if @doctor.openflag == 0 %>
      <%= form_tag({controller: "doctors", action: "open" }, {method: "get"}) do %>
        <%= submit_tag("Open") %>
      <% end %>
    <% else %>
      <%= form_tag({controller: "doctors", action: "close" }, {method: "get"}) do %>
        <%= submit_tag("Close") %>
      <% end %>
    <% end %>
</div>


<% if not signed_in_doctor? %>
  <%= form_tag({controller: "users", action: "favorite" }, {method: "get"}) do %>
    <%= submit_tag("お気に入り") %>
  <% end %>
<% end %>


<div class="patient">
<% if current_doctor=(@doctor) %>
  <h2>担当患者</h2>
  <% @doctor.users.each do |user| %>
    <%= link_to user.id, { :controller => :users, :action => :show, :id => user.id } %>
  <% end %>
<% end %>
</div>
