<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <a class="navbar-brand" href="#">QShare</a>
  <% if signed_in? %>
    <%= link_to 'ログアウト', signout_path, method: :delete, class:"btn btn-default navbar-btn navbar-right" %>
    <%= link_to 'プロフィール', current_user, class:"btn btn-default navbar-btn navbar-right" %>
  <% else %>
    <%= link_to 'ログイン', signin_path , class:"btn btn-default navbar-btn navbar-right"%>
    <%= link_to 'アカウント作成', signup_path, class:"btn btn-default navbar-btn navbar-right"%>
  <% end %>
</nav>
<hr>

<%= yield %>

</body>
</html>
